@model RedCruises.Models.ReservasEnCola

@{
    ViewBag.Title = "Reservaciones en cola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h2 {
        color: #333333;
        font-family: 'Bitter', serif;
        font-size: 50px;
        font-weight: normal;
        line-height: 54px;
        margin: 0 0 54px;
    }

    .container {
        margin-top: 40px;
    }

    .btn-primary {
        width: 100%;
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br />
        <br />
        <br />
        <h2>Reservaciones que quedaron en cola</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Mes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Año, htmlAttributes: new { @class = "control-label col-md-2" });
            <div class="col-md-10">
                @Html.EditorFor(model => model.Año, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Año, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>

    }
</body>
</html>
